/* Allgemeine Stile */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 
@media (max-width: 600px) {
  body {
    min-width: 300px;
    max-width: fit-content;
  }
}

@media (min-width: 601px) {
  body {
    min-width: 400px;
    max-width: 800px;
  }
}

@media (min-width: 1401px) {
  body {
    min-width: 800px;
  }
}  */

header {
  /* border-bottom: none;
  border-radius: 10px 10px 0 0 ;
  border: #007bff 1px solid;
  width: 100%; */
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
  /* margin-inline: 1em; */
}

main {
  /* border: #007bff 1px solid;
  border-top: none;
  width: 100%; */
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0;
  margin-inline: 1em;
  border-bottom: none;
  flex-direction: column;
  justify-content: center;
}

footer {
  /* border: #007bff 1px solid;
  width: 100%;
  border-top: none;
  border-radius: 0 0 10px 10px; */
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0;
  margin: 1em;
  margin-inline: 1em;
  flex-direction: column;
  font-size: small;
}

h1 {
  margin-top: 1em;
  padding: 0.5em;
}


#state-indicator {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border-radius: 0 0 10px 10px;
  padding: 0;
  margin: 0;
  height: 1em;
  width: 5em;
  font-size: 1em;
  text-align: center;
  
  transition-property: background-color, font-size, transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.transformed-state {
  background-color: green;
  color: yellow;
  font-size: 12px;
  transition-property: background-color, font-size, transform, color;
  transform: rotate(270deg);
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.timer-display {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  color: #555;
}

input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
